{% extends "base.html" %}
{% block content %}

    <!-- Wyświetlanie wykresów -->
    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>
    <div id="tester1"></div>
    <div id="tester2"></div>
    <div id="tester3"></div>
    <div id="timespan-table" style="margin-left: 20px;"></div>
    <script src="{{ url_for('static', filename='js/testing.js') }}"></script>

    <div id="chart-container" style="display: flex;">
    <div id="charts" style="flex: 3;">
        <div id="tester1"></div>
        <div id="tester2"></div>
        <div id="tester3"></div>
    </div>
    <div id="timespan-table-container" style="flex: 1; padding-left: 10px;">
        <table id="timespan-table" border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <!-- Timespans will be dynamically loaded here -->
            </tbody>
        </table>
    </div>
</div>

<script src="{{ url_for('static', filename='js/testing.js') }}"></script>

{% endblock %}