{% extends "base.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th class="item-col">Vote ID</th>
            <th class="item-col">Revision Number</th>
            <th class="item-col">Vote Value</th>
            <th class="item-col">Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for vote in votes_data %}
        <tr>
            <td>{{ vote.vote_id }}</td>
            <td>{{ vote.revision_number }}</td>
            <td>{{ vote.vote_value }}</td>
            <td>{{ vote.user_comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="navbar">
    <a class="nav-item" href="{{ url_for('user_chart_timespans_list', user_id=current_user.id, chart_id=chart_id) }}">Back </a>

    {% if prev_page %}
        <a class="nav-item" href="{{ url_for('user_timespan_votes', timespan_id=timespan_id, page=prev_page) }}">Previous</a>
    {% endif %}
    
    <span class="nav-item">Page {{ current_page }} of {{ total_pages }}</span>
    
    {% if next_page %}
        <a class="nav-item" href="{{ url_for('user_timespan_votes', timespan_id=timespan_id, page=next_page) }}">Next</a>
    {% endif %}
</div>

{% endblock %}
