{% extends "base.html" %}

{% block content %}

<table>
    <thead>
        <tr>
            <th class="item-col">Timespan ID</th>
            <th class="item-col">Revisions</th>
            <th class="item-col">Vote</th>
            <th class="item-col">Rev. number</th>
            <th class="item-col">Date</th>
            <th >Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for timespan in timespans_data %}
        <tr>
            <td>
                <a>
                    {{ timespan.timespan_id }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('user_timespan_votes', user_id=user_id , chart_id=chart_id , timespan_id=timespan.timespan_id) }}" class="square dark-theme">
                    {{ timespan.votes_for_timespan }}
                </a>
            </td>
            <td>{{ timespan.latest_vote_value }}</td>
            <td>{{ timespan.latest_vote_revision_number }}</td>
            <td>{{ timespan.latest_vote_time }}</td>
            <td>{{ timespan.latest_vote_user_comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="navbar">
    <a class="nav-item" href="{{ url_for('user', user_id=user_id) }}">Back </a>

    {% if prev_page %}
        <a class="nav-item" href="{{ url_for('user_chart_timespans_list', user_id=user_id, chart_id=chart_id, page=prev_page) }}">Previous</a>
    {% endif %}
    
    <span class="nav-item">Page {{ current_page }} of {{ total_pages }}</span>
    
    {% if next_page %}
        <a class="nav-item" href="{{ url_for('user_chart_timespans_list', user_id=user_id, chart_id=chart_id, page=next_page) }}">Next</a>
    {% endif %}


</div>

{% endblock %}