{% extends "base.html" %}

{% block content %}
    <!-- [TODO] Maybe redundant.
    <table>
        <tr valign="top">
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </tr>
    </table>
    -->
    <!-- Wyświetlanie wykresów i głosów użytkownika na nie -->

    <div class="strip-container">
        <div class="strip">
            <p>Content for Strip 1</p>
        </div>
        <div class="strip">
            <p>Content for Strip 2</p>
        </div>
        <div class="strip">
            <div class="progress-bar-container">
                <div class="progress-bar" style="width: {{ percentage_voted }}%;"></div>
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="table-column">
            <table>
                <thead>
                    <tr>
                        <th class="item_col">Chart ID</th>
                        <th class="item_col">Votes</th>
                        <th class="item_col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chart in chart_data[0:chart_data|length//2] %}
                        <tr>
                            <th class="item-col">
                                <a href="{{ url_for('wykres', chart_id=chart.chart_id) }}" class="square {{chart.color_status}}">
                                    {{ chart.chart_id }}
                                </a>
                            </th>
                            <td class="item-col">
                                <div class="votes-progress-container">
                                    <div class="votes-progress-bar" style="width: 60%;"></div> <!-- Placeholder percentage -->
                                    <span>{{ chart.votes_summary }}</span>
                                </div>
                            </td>
                            <td class="item-col">
                                <a href="{{ url_for('user_chart_timespans_list', user_id=user_id, chart_id=chart.chart_id) }}" class='square dark-theme'>
                                    >
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-column">
            <table>
                <thead>
                    <tr>
                        <th class="item_col">Chart ID</th>
                        <th class="item_col">Votes</th>
                        <th class="item_col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chart in chart_data[chart_data|length//2:] %}
                        <tr>
                            <th class="item-col">
                                <a href="{{ url_for('wykres', chart_id=chart.chart_id) }}" class="square {{chart.color_status}}">
                                    {{ chart.chart_id }}
                                </a>
                            </th>
                            <td class="item-col">{{ chart.votes_summary }}</td>
                            <td class="item-col">
                                <a href="{{ url_for('user_chart_timespans_list', user_id=user_id, chart_id=chart.chart_id) }}" class='square dark-theme'>
                                    >
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
    
    <div class="navbar">
        {% if prev_page %}
            <a class="nav-item" href = "{{ url_for('user', user_id=user.id , page=prev_page ) }}">Previous</a>
        {% endif %}
        <span class="nav-item">
            Page {{ current_page }} of {{ total_pages }}
        </span>
        

        {% if next_page %}
            <a class="nav-item" href="{{ url_for('user', user_id=user.id , page=next_page ) }}">Next</a>
        {% endif %}
    </div>

{% endblock %}