{% extends "base.html" %}

{% block content %}
    <!-- [TODO] Maybe redundant.
    <table>
        <tr valign="top">
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </tr>
    </table>
    -->
    <!-- Wyświetlanie wykresów i głosów użytkownika na nie -->
    <table>
        <thead>
            <tr>
            <th class="item_col">ID wykresu</th>
            <th class="item_col">Głos</th>
            <th>Komentarz</th>
            </tr>
        </thead>
        <tbody>
            {% for chart in chart_data %}
                <tr>
                    <th class="item-col">
                        <a href="{{ url_for('wykres', chart_id=chart.chart_id) }}" class="square {{chart.color_status}}">
                            {{ chart.chart_id }}
                        </a>
                    </th>
                    <td class="item-col" >{{ chart.votes_summary }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navbar">
        {% if prev_page %}
            <a class="nav-item" href = "{{ url_for('user', username=user.username , page=prev_page ) }}">Previous</a>
        {% endif %}
        <span class="nav-item">
            Page {{ current_page }} of {{ total_pages }}
        </span>
        

        {% if next_page %}
            <a class="nav-item" href="{{ url_for('user', username=user.username , page=next_page ) }}">Next</a>
        {% endif %}
    </div>

{% endblock %}